
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.container {
    background: white;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    text-align: center;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit-btn {
    width: 5%;
    background: #f28d00;
    color: black;
    border: none;
    padding: 9px;
    border-spacing: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
;
}
.submit-btn:hover {
    background: #000000;
    color: orange;
}
