
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
.footer {
    background-color: #e86c06;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: -160px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.footer-section {
    margin: 10px;
}
.footer a {
    color: #f8f8f8;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
    text-shadow: 5px;
    padding-bottom: 10px;
    
}
.social-icons a {
    margin: 0 5px;
    font-size: 20px;
}
